<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>603A3526-AAAA-44AC-B718-D36934708231</string>
		<key>name</key>
		<string>Developers</string>
		<key>selector</key>
		<string>A</string>
		<key>rating</key>
		<real>5.0</real>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>239</integer>
			<key>green</key>
			<integer>48</integer>
			<key>blue</key>
			<integer>36</integer>
		</dict>
		<key>photo</key>
		<string>A.png</string>
		<key>lastWin</key>
		<date>2020-06-20T12:15:24Z</date>
		<key>wins</key>
		<integer>4</integer>
		<key>isFavourite</key>
		<true/>
		<key>url</key>
		<string>https://team-a.pl</string>
	</dict>
    <dict>
        <key>id</key>
        <string>603A3526-AAAA-44AC-B718-D36934708232</string>
        <key>name</key>
        <string>Testers</string>
        <key>selector</key>
        <string>B</string>
        <key>rating</key>
        <real>5.0</real>
        <key>color</key>
        <dict>
            <key>red</key>
            <integer>139</integer>
            <key>green</key>
            <integer>148</integer>
            <key>blue</key>
            <integer>36</integer>
        </dict>
        <key>photo</key>
        <string>B.png</string>
        <key>lastWin</key>
        <date>2020-06-20T12:15:24Z</date>
        <key>wins</key>
        <integer>2</integer>
        <key>isFavourite</key>
        <false/>
        <key>url</key>
        <string>https://team-b.pl</string>
    </dict>
    <dict>
        <key>id</key>
        <string>603A3526-AAAA-44AC-B718-D36934703232</string>
        <key>name</key>
        <string>Admins</string>
        <key>selector</key>
        <string>C</string>
        <key>rating</key>
        <real>4.0</real>
        <key>color</key>
        <dict>
            <key>red</key>
            <integer>39</integer>
            <key>green</key>
            <integer>148</integer>
            <key>blue</key>
            <integer>236</integer>
        </dict>
        <key>photo</key>
        <string>C.png</string>
        <key>lastWin</key>
        <date>2020-02-20T12:15:24Z</date>
        <key>wins</key>
        <integer>1</integer>
        <key>isFavourite</key>
        <false/>
        <key>url</key>
        <string>https://team-c.pl</string>
    </dict>
</array>
</plist>
